*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}

/***********
Global styles
***********/

p {
    margin: auto;
    text-align: center;
}

/***********
DIV styles
***********/

.ball img {
    display: block;
    margin: auto;
}

.ball {
    position: relative;
    margin-top: 80px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.center p {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgba(79, 63, 224, 0.863);
}


/***********
a hred styles
***********/






/***********
Form styles  
***********/
/* test */

.form-input{
    width: 400px;
    margin: auto;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 80px;
}

.text-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-input {
    width: 100%;
    background-color: rgba(79, 63, 224, 0.6);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}